@charset "UTF-8";
/*couleurs*/
/*polices*/
/*styles*/
/* Pour Ordinateurs écrans maximum 992px*/
@media screen and (min-width: 992px) {
  /*Fonctionnement*/
  h2 {
    text-align: center;
  }
  .header_presentation {
    padding: 10px;
  }
  .fonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonct_btn {
    width: 30%;
  }
  .btn {
    margin-bottom: 10px;
  }
  /*Footer*/
  footer #footer_logo {
    text-align: center;
  }
  footer .footer_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*Restaurants*/
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards_cont {
    max-width: 22%;
  }
  /*Menus*/
  #menu .cards_menu_all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #menu .cards_section {
    width: 100%;
    padding: 10px;
  }
}

/* Pour tablettes écrans entre 768px et 991px*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*Fonctionnement*/
  h2 {
    text-align: center;
  }
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*Footer*/
  footer #footer_logo {
    text-align: center;
  }
  footer .footer_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*Restaurants*/
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards_cont {
    max-width: 45%;
  }
  /*Menus*/
  #menu .cards_section_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu .cards_menu_all {
    width: 100%;
  }
  #menu .up {
    margin: 7px;
    width: 32%;
  }
}

@-webkit-keyframes affichage_menus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes affichage_menus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cards_cont_title.up.up {
  opacity: 0;
  -webkit-animation-name: affichage_menus;
          animation-name: affichage_menus;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cards_cont_title.up.up--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.cards_cont_title.up.up--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.cards_cont_title.up.up--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.cards_cont_title.up.up--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.cards_cont_title.up.up--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.cards_cont_title.up.up--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.cards_cont_title.up.up--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.cards_cont_title.up.up--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.cards_cont_title.up.up--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.cards_cont_title.up.up--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes loader_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  background: #ffeefa;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: loader_out;
          animation-name: loader_out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.loader .load_ohmyfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .load_ohmyfood .load_letter {
  font-size: 40px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Shrikhand", cursif;
  background: -webkit-linear-gradient(top, #99E2D0, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .load_ohmyfood .load_letter.up--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loader .load_ohmyfood .load_letter.up--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loader .load_ohmyfood .load_letter.up--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.loader .load_ohmyfood .load_letter.up--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.loader .load_ohmyfood .load_letter.up--5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.loader .load_ohmyfood .load_letter.up--6 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.loader .load_ohmyfood .load_letter.up--7 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}

.loader .load_ohmyfood .load_letter.up--8 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.loader .load_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .load_logo {
  width: 10px;
  height: 10px;
  margin: 10px;
  background: #9356DC;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: load_circle;
          animation-name: load_circle;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .load_logo.up--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--6 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--7 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.loader .load_logo.up--8 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@-webkit-keyframes load_circle {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
    background: #FF79DA;
  }
}

@keyframes load_circle {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
    background: #FF79DA;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 22px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

#menu header {
  display: block;
}

#menu header .header_menus {
  position: relative;
}

#menu header a {
  background: none;
  color: black;
  margin-bottom: initial;
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  opacity: initial;
  z-index: 1;
}

#menu .cards_cont_title_heart {
  position: absolute;
  top: 47px;
  right: 10px;
}

.carte_back img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  border-radius: 25px 25px 0 0;
  margin-top: -40px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  margin-bottom: 40px;
}

.cards .fas {
  font-weight: 100;
  position: absolute;
  right: 15px;
  top: 50px;
}

.cards_bordure {
  width: 5%;
}

.cards h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
}

#menu .cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.croix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0%;
  height: 70px;
  background-color: #99E2D0;
  color: white;
  margin-right: -10px;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.croix .far {
  font-weight: 900;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform  1200ms;
  transition: -webkit-transform  1200ms;
  transition: transform  1200ms;
  transition: transform  1200ms, -webkit-transform  1200ms;
  font-size: 18px;
}

#menu .cards_cont_title:hover .croix {
  width: 20%;
}

#menu .cards_cont_title:hover .far {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.cards_cont_title_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 10px;
  height: 50px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header p {
  font-weight: 300;
  padding-bottom: 15px;
}

header .header_presentation {
  background-color: #f6f6f6;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 3px 8px 8px #bfbfbf;
          box-shadow: 3px 8px 8px #bfbfbf;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 5px 10px 8px #bfbfbf;
          box-shadow: 5px 10px 8px #bfbfbf;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.btn:hover::after {
  opacity: 1;
}

.logo {
  font-family: "Shrikhand", cursif;
  font-size: 29px;
  position: relative;
}

form {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 3px 8px #bfbfbf;
          box-shadow: inset 0px 3px 8px #bfbfbf;
}

form input {
  border: none;
  background-color: transparent;
  padding: 15px;
  font-weight: bold;
}

form ::-webkit-input-placeholder {
  color: black;
  text-align: center;
}

form :-ms-input-placeholder {
  color: black;
  text-align: center;
}

form ::-ms-input-placeholder {
  color: black;
  text-align: center;
}

form ::placeholder {
  color: black;
  text-align: center;
}

#fonctionnement {
  padding: 15px;
}

.fonct a {
  margin: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 8px 8px #bfbfbf;
          box-shadow: 3px 8px 8px #bfbfbf;
  -webkit-transition: all 450MS ease-in-out;
  transition: all 450MS ease-in-out;
  color: black;
}

.fonct a:hover {
  -webkit-box-shadow: 5px 10px 8px #bfbfbf;
          box-shadow: 5px 10px 8px #bfbfbf;
  background-color: #f2eafb;
}

.fonct a:hover .fas {
  color: #9356DC;
  -webkit-transition: all 450MS ease-in-out;
  transition: all 450MS ease-in-out;
}

.fonct_btn_num {
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: -30px;
  margin-right: 30px;
}

.fonct_btn_txt {
  margin-left: 30px;
}

#restaurants {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.cards_cont {
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 8px 8px #bfbfbf;
          box-shadow: 3px 8px 8px #bfbfbf;
  background: white;
  height: 280px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.cards_cont a {
  color: black;
}

.cards_cont:hover {
  -webkit-box-shadow: 5px 10px 8px #bfbfbf;
          box-shadow: 5px 10px 8px #bfbfbf;
}

.cards_cont_img {
  height: 210px;
}

.cards_cont_img_txt {
  position: absolute;
  margin: 1%;
  top: 15px;
  right: 15px;
  background: #99E2D0;
}

.cards_cont_img_txt p {
  color: #32b091;
  padding: 8px;
  margin: 0;
  text-align: center;
}

.cards_cont_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards_cont_title {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 8px 8px #bfbfbf;
          box-shadow: 3px 8px 8px #bfbfbf;
  background: white;
}

.cards_cont_title h3, .cards_cont_title p {
  margin: 4px 0 0 0;
}

.cards_cont_title_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.cards_cont_title_txt h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}

.cards_cont_title_txt p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards_cont_title_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  bottom: 24px;
  cursor: pointer;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.cards_cont_title_heart:hover .plein {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.cards_cont_title_heart:hover .vide {
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cards_cont_title_heart .vide {
  font-size: 20px;
  top: 0;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.cards_cont_title_heart .plein {
  background: -webkit-gradient(linear, right top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  top: 0;
  color: transparent;
  font-weight: 900;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

footer {
  background-color: #1a1a1a;
  padding: 20px;
}

footer ul {
  list-style-type: none;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
}

footer li {
  padding: 5px 0 5px 0;
}

footer a, footer a:visited {
  color: white;
}

footer .fa-hands-helping {
  width: 13px;
  margin-right: 13px;
}

footer .fa-utensils {
  margin-right: 13px;
}

#footer_logo a {
  font-family: "Shrikhand", cursif;
}
/*# sourceMappingURL=main.css.map */