footer {
  background-color: lighten($color: black, $amount: 10);
  padding: 20px;

  & ul {
    list-style-type: none;
    padding-inline-start: 0%;
  }
  & li {
    padding: 5px 0 5px 0;
  }
  & a {
    color: $color-white;
  }

  & .fa-hands-helping {
    width: 13px;
    margin-right: 13px;
  }
  & .fa-utensils {
    margin-right: 13px;
  }
}

#footer_logo a {
  font-family: $font-title;
}
