    header{

    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    & p{
        font-weight: 300;
        padding-bottom: 15px;
    }
    & .header_presentation{
        background-color: #f6f6f6;
        padding: 25px;
        @include flex-center;
        align-items: center;
        flex-direction: column;
        
        }
    }

.btn{
    @include btn;
    width: 30%;
    margin-bottom: 40px;
    transition: all 450ms;
    text-align: center;

    &:hover{

    @include btn-hover;
    }
}  
.logo{
        font-family: $font-title;
        font-size: 36px;
    }

form
{
    background-color: #eaeaea;
    box-shadow: $shadow-top;

    & input{
        border : none;
        background-color: transparent;
        padding: 15px;
        font-weight: bold;}
        & ::placeholder{
        color:black;
        text-align: center;
    
    }
}



