.restaurants{
    @include background-grey;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards_cont{
    @include cadre;
    height: 300px;
    overflow: hidden;
    position: relative;
    &_img{
        height: 70%;
        &_txt{
            position: absolute;
            margin: 1%;
            top : 15px;
            right: 15px;
            background: $color-tertiary;
            p{
                color: darken($color: $color-tertiary, $amount: 30);
                padding: 8px;
                margin: 0;
                text-align: center;
            }
            
        }
       img{
           object-fit: cover;
           width: 100%;
           height: 100%;
       }
    }

}

.cards_cont_title{
    position: relative;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    @include cadre;
    h3, p{
        margin : 4px 0 0 0;
    }
}
.cards_cont
    .fas{
        @include abso-right
        font-weight: 100;
}