@keyframes affichage_menus {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
$num-cards : 10;
$anim-dur: 2000ms;
$anim-delay : $anim-dur/$num-cards;



.cards_cont_title{
    &.up{
        &.up{

            opacity : 0;
            animation-name: affichage_menus;
            animation-duration: $anim-dur;
            animation-fill-mode: forwards;
            @for $i from 1 through $num-cards{
                &--#{$i} {
                    animation-delay:$anim-delay * $i;
                }
            }
        }
    }
}

$num-letters:8;
$load-delay:$anim-dur/$num-letters;












@keyframes loader {
    0% {
      transform: scaleY(0.1);

    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.1);
    }
  }
.container{
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
display : none;
    .load{
        display: flex;
        &_letter{
            span{
                font-size: 40px;
                font-family: $font-title;
                background-image: linear-gradient(to left,$color-primary,$color-tertiary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;}

        &.up{
            transform: scaleY(0);
            animation-name:loader;
            animation: $anim-dur;
            @for $i from 1 through $num-letters{
                &--#{$i} {
                    animation-delay:$anim-delay * $i;
                }
            }
        
        }
    }
        }
    }

