@keyframes affichage_menus {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
    
}
$num-cards : 10;
$anim-dur: 2000ms;
$anim-delay : $anim-dur/$num-cards;



.cards_cont_title{
    &.up{
        &.up{

            opacity : 0;
            animation-name: affichage_menus;
            animation-duration: $anim-dur;
            animation-fill-mode: forwards;
            @for $i from 1 through $num-cards{
                &--#{$i} {
                    animation-delay:$anim-delay * $i;
                }
            }
        }
    }
}










$num-letters:8;
$load-delay:$anim-dur/$num-letters;


@keyframes loader {
    from {
      transform: rotateX(-90deg);
      background-position: 0%;
    

    }
   
    to {
      transform: rotateX(0deg);
      background-position: 100%;
    }
  }


@keyframes loader_out{
    0%{
        opacity: 1;

    }

    100%{
        opacity: 0;
        visibility: hidden;

    }
}
  .load{
      background: lighten($color-secondary,23);
      width: 100%;
      height: 100%;
      z-index: 100;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name:loader_out;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 2s;



      &_letter{
        font-size: 40px;
        padding: 6px;
        display: flex;
        justify-content: space-around;
        font-family: $font-title;
        background:-webkit-linear-gradient(top,$color-tertiary,$color-primary,$color-secondary);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        animation-name: loader;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @for $i from 1 through $num-letters{
            &.up--#{$i} {
                animation-delay:$anim-delay * $i;
            }
      }
    }
}
