@keyframes affichage_menus {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
$num-cards : 10;
$anim-dur: 2000ms;
$anim-delay : $anim-dur/$num-cards;



.cards_cont_title{
    &.up{
        &.up{

            opacity : 0;
            animation-name: affichage_menus;
            animation-duration: $anim-dur;
            animation-fill-mode: forwards;
            @for $i from 1 through $num-cards{
                &--#{$i} {
                    animation-delay:$anim-delay * $i;
                }
            }
        }
    }
}
