@media screen and (min-width:768px) and (max-width: 991px){

    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &_cont{
            width: 30%;
        }
    }
}