@media screen and (min-width:992px){
/*Fonctionnement*/


    h2{
        text-align: center; 
    }
    .header_presentation{
        padding: 10px;
    }
    .fonct{
        display: flex;
        justify-content: space-around;
    }
    .fonct_btn{
            width: 30%;
        }
    .btn{
        margin-bottom: 10px;
    }

/*Restaurants*/

.cards{
    flex-direction: row;
}
.cards_cont{
    max-width: 20%;

}

/*Footer*/
    footer{
        #footer_logo{
            text-align: center;
        }
    
        .footer_nav{
            ul{
            display: flex;
            justify-content: space-around;
            }
        }
    }
}