/* Pour tablettes */

@media screen and (min-width: 768px) {
  /*Fonctionnement*/

  h2 {
    text-align: center;
  }

  #fonctionnement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /*Footer*/
  footer {
    #footer_logo {
      text-align: center;
    }

    .footer_nav {
      ul {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  /*Restaurants*/

  .cards {
    flex-direction: row;
  }
  .cards_cont {
    max-width: 45%;
  }

  /*Menus*/

  #menu {
    .cards_section_cont {
      display: flex;
    }

    .cards_menu_all {
      width: 100%;
    }

    .up {
      margin: 7px;
      width: 32%;
    }
  }
}
/* Pour Ordinateurs*/

@media screen and (min-width: 992px) {
  /*Fonctionnement*/

  h2 {
    text-align: center;
  }
  .header_presentation {
    padding: 10px;
  }
  .fonct {
    display: flex;
    justify-content: space-around;
  }
  .fonct_btn {
    width: 30%;
  }
  .btn {
    margin-bottom: 10px;
  }

  /*Footer*/
  footer {
    #footer_logo {
      text-align: center;
    }

    .footer_nav {
      ul {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  /*Restaurants*/

  .cards {
    flex-direction: row;
  }
  .cards_cont {
    max-width: 22%;
  }

  /*Menus*/

  #menu {
    .cards_section {
      width: 32%;
    }
    .cards_section_cont {
      display: flex;
      flex-direction: column;
    }
    .cards_menu_all {
      display: flex;
      justify-content: space-around;
    }
    .up {
      width: 100%;
      margin: 7px 0 7px 0;
    }
  }
}
