/*couleurs*/

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: white;
$color-back: #f2f2f2;
$color-btn: linear-gradient($color-secondary, $color-primary);

/*polices*/

$font-text: "Roboto", sans-serif;
$font-title: "Shrikhand", cursif;

/*styles*/

$shadow-top: inset 0px 3px 8px #bfbfbf;
$shadow-btn: 3px 8px 8px #bfbfbf;
$shadow-btn-hover: 5px 10px 8px #bfbfbf;
