
/*couleurs*/

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary :#99E2D0;
$color-white : white;
$color-back:#f2f2f2;

/*polices*/

$font-text : 'Roboto', sans-serif;
$font-title : 'Shrikhand', cursif;

/*styles*/

$shadow-top : inset 0px 3px 8px #bfbfbf;
$color-btn : linear-gradient($color-secondary, $color-primary);
$shadow-btn: 3px 8px 8px #bfbfbf;

