#menu{
    header{
        display: block;
        .header_menus{
            position: relative;
        }
        & a {
            background: none;
            color: black;
            margin-bottom: initial;
            position: absolute;
            left: 40px;
            top: 50%;
            box-shadow: initial;
            opacity: initial;
            z-index: 1;
        }
    }
    .cards_cont_title_heart{
        position: absolute;
        top : 50px;
        right: 20px;
    }
    }

.carte_back{

           img{
               width: 100%;
               height : 300px;
               object-fit: cover;
           }
        }
.carte{
    @include background-grey;
    border-radius: 25px 25px 0 0 ;
    margin-top: -40px;
    position: relative;
    align-items: center;

}

.cards{ 
    margin-bottom: 40px;   
    & .fas{
        font-weight: 100;
        @include abso-right;
        top: 50px;
    }
    &_bordure{
        width: 5%;
    }
    & h2{
        text-transform :uppercase;
        border-bottom: 2px solid $color-tertiary;
    }

}

.croix{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 90px;
    background-color: $color-tertiary;
    color: $color-white;
    margin-right: -10px;
    transform : scaleX(0);
    transform-origin: right;
    position: absolute;
    right: 0;
    & .far{
        font-weight: 900;
        font-size: 25px;
    }
    
}
#menu{

    .cards_cont_title{
 
        &:hover .croix{
            transition: all  450ms;
            transform: scaleX(1);
            transition-delay: (100MS);
            position: initial;
        }
        &:hover .far{
            transform: rotate(360deg);
            transition-duration: 450ms;
            transition-delay: 100ms;
        }
    }
}
.cards_cont_title_price{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-right: 10px;
    height: 70px;
    width: 10%;

}




   